* {
    box-sizing:border-box;
}

html, body {
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    /*font-family: 'Muli', sans-serif;*/
    font-family: 'Arima Madurai', cursive;  
    letter-spacing: 1px;    
    font-size: 1.0em;
    /*text-shadow: 1px 1px 2px #fff;*/
    /*background-color: #aaa;*/
    background-image: -moz-linear-gradient(top, #ffae2e, #4c1d1c);
    background-image: -ms-linear-gradient(top, #ffae2e, #4c1d1c);
    background-image: -o-linear-gradient(top, #ffae2e, #4c1d1c);
    background-image: -webkit-linear-gradient(top, #ffae2e, #4c1d1c);
    background-image: linear-gradient(top, #ffae2e, #4c1d1c);
}


main {
    position: absolute;
    left: 50%;
    top:25px;
    padding: 5px;
    transform: translate(-50%, 0);

    background: rgb(241,231,103);
    background: -moz-linear-gradient(top,  rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%);
    background: linear-gradient(to bottom,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 );


    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0px 0px 40px #000000;
    background-clip: padding-box;

}

canvas {
    border-radius: 15px;
    width: 100%;
    box-shadow: inset 3px 3px 15px #633;
    display: block;
}

.canvas {
    position: relative;
    z-index: 10;
    border-radius: 7px;
    background: repeating-linear-gradient(
        0deg, 
        transparent 24%, 
        rgba(0, 0, 0, .10) 25%, 
        rgba(0, 0, 0, .10) 26%, 
        transparent 27%, transparent 74%, 
        rgba(0, 0, 0, .10) 75%, 
        rgba(0, 0, 0, .10) 76%, 
        transparent 77%, transparent), 

        repeating-linear-gradient(
        90deg,
        transparent 24%, 
        rgba(0, 0, 0, .10) 25%, 
        rgba(0, 0, 0, .10) 26%, 
        transparent 27%, transparent 74%, 
        rgba(0, 0, 0, .10) 75%, 
        rgba(0, 0, 0, .10) 76%, 
        transparent 77%, 
        transparent);
    background-color: rgba(200,200,200,1);
    border-radius: 15px;
    margin: 15px;
    padding: 0;
    width: 680px;
    background-size:50px 50px;
}


h1 {
    /*font-family: 'Great Vibes', cursive;*/
    display: inline-block;
    text-align: center;
    width: 100%;
    font-variant: small-caps;
    letter-spacing: 4px;
    font-size: 3em;
    margin: 20px 0 15px 7px;
    line-height: 0.8em;
    color: #fff;
    text-shadow: 1px 1px 6px #000;
}

#generator_frm {
    padding: 4px;
    padding-top: 15px;
    margin: 16px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0px 7px 15px #966;
    background-color: rgba(255,255,255,0.2);
}

#generator_frm label{
    padding: 4px;
    display: inline-block;
    width: 128px;
    margin-right: 5px;
    text-align: right;
    font-family: 'Arima Madurai', cursive;
}

#mp3_cadre {
    /*background-color: #800;*/
    width:500px;
    margin: 10px 0 0 8px;
}


input[type="button"] {
    width: 50px;
}


hr {
    border: 1px transparent dotted;
    box-shadow: 0px 0px 1px #000;
    width: 90%;
}


#onOffOndes {
    position: relative;
    float: right;
    margin-right: 16px;
    margin-top: -32px;
}
#cb_generator_lbl{
    text-align: center !important;
    width: 80px !important;
    margin-left: 10px;
    height: 30px;
    border-radius: 5px;
    border:1px #000 solid;
    display: block;
    font-size: 14px;
    background-color: rgba(100,0,0,0.4);
}


#cb_generator_lbl:hover, #cb_oscMp3_lbl:hover {
    color: #fff;
    text-shadow: 1px 1px 10px #000;
}

#range_fineFreq, #range_frequence, #range_vol, #range_fois
 {
    width:400px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 46px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -10px;
}

.panning-control {
    margin: 0 5px;
    width: 402px;
}

.panning-control::-webkit-slider-thumb {
    margin-top: 0px !important;
}

.center {
    text-align: center;
    margin: 10px auto;
    padding: 0 5px;
    height: 20px;
    display: block;
    background: repeating-linear-gradient(
        90deg,
        transparent             25%,
        rgba(254,182,69,0)      26%,
        rgba(254,182,69,1)      48%,
        rgba(0,0,0,0.4)         50.5%,
        rgba(254,182,69,1)      53%,
        transparent             75%,
        rgba(254,182,69,0)
        );
}

.lePanning .gauche, .lePanning .droite {
    opacity: 0.5;
    font-variant: small-caps;
    letter-spacing: 2px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.cliclic {
    cursor: pointer;
}