.zoizo {
    position: absolute;
    top:50px;
    left:0;
    z-index: 10;
    display: inline-block;
    /* la largeur et la hauteur, représentent les dimensions 
    d'un masque */
    width: 73px;
    height: 120px;
    background: url(../img/zoizo.png) no-repeat;
}

.zoizo.position_1 {
    background-position: 0 0;
}

.zoizo.position_2 {
    background-position: -75px 0;
}

.zoizo.position_3 {
    background-position: -150px 0px;
}

.zoizo.position_4 {
    background-position: -225px 0px;
}

.zoizo.position_5 {
    background-position: -300px 0px;
}

.zoizo.position_6 {
    background-position: 0 -120px;
}

.zoizo.position_7 {
    background-position: -75px -120px;
}

.zoizo.position_8 {
    background-position: -150px -120px;
}

.zoizo.position_9 {
    background-position: -225px -120px;
}

.zoizo.position_10 {
    background-position: -300px -120px;
}